<!DOCTYPE html>
<html>
<head>
  <title>NatesWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Captain Cornhole', root_path %></li>
          <% if user_signed_in? %>
          <li><a>Logged in as <strong><%= current_user.email %></strong></a></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
            <% else %>
            <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %> </li>
            <% end %>

            <% if user_signed_in? %>
            <li><%= link_to 'Add Product', new_product_path %></li>
            <li><%= link_to 'About Us', about_path %></li>
            <li><%= link_to 'Contact Us', contact_path %></li>
            <li><%= link_to 'New Message', new_message_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
